@charset "utf-8";

/*============================================
入力フォーム
============================================*/
#form1 input, #form1 textarea {
	font-size:16px;	/*フォントサイズ*/
	border:1px solid #999999;	/*ボーダー*/
	padding:2px;	/*パディング*/
	border-radius:3px;	/*角丸にする*/
	-moz-border-radius:3px;	/*角丸にする（Firefox向けプレフィックス付き）*/
	-webkit-border-radius:3px;	/*角丸にする（Google Chrome、Safari向けプレフィックス付き）*/
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1) inset;		/*影を付ける*/
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1) inset;		/*影を付ける（Firefox向けプレフィックス付き）*/
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1) inset;	/*影を付ける（Google Chrome、Safari向けプレフィックス付き）*/
}
#form1 input:focus, #form1 textarea:focus {
	box-shadow: 0px 0px 5px 2px #ccccee;		/*影を付ける*/
	-moz-box-shadow: 0px 0px 5px 2px #ccccee;		/*影を付ける（Firefox向けプレフィックス付き）*/
	-webkit-box-shadow: 0px 0px 5px 2px #ccccee;		/*影を付ける（Google Chrome、Safari向けプレフィックス付き）*/
	outline-style:none;		/*アウトライン無しにする*/
}
#form1 p input {
	width:300px; height:40px;	/*幅と高さ*/
	border:0;	/*ボーダー無し*/
}
#form1 p {
	text-align:center;	/*センタリング*/
	text-indent:0;	/*字下げ幅をゼロにする*/
}
input[type="text"] ,input[type="email"] {
	width:70%;	/*横幅を70%にする*/
}
