@charset "utf-8";

/*============================================
全般的なスタイル
============================================*/
body {
	background-color:#ffffff;	/*ページ全体の背景色*/
	color:#000000; 				/*文字色*/
}
div#pagebody, div#info, p, hr {
	width:100%;				/*幅の指定*/
}

/*============================================
メインメニュー・ヘッダ画像・サブメニュー・フッタ
============================================*/
ul#menu, #img_index, #img_subpage, div#submenu, div#footer {
	display:none; 				/*非表示にする*/
}

/*============================================
インフォメーション（右カラム）
============================================*/
.infoimg_index {
	width:200px; height:150px;	/*画像の表示サイズを指定*/
	margin:0px 0px 20px 20px;	/*マージン*/
	float:right;				/*画像を右寄せにする*/
}
.infoimg_subpage {
	width:400px; height:300px;	/*画像の表示サイズを指定*/
	margin:0px 20px 20px 0px;	/*マージン*/
	float:left;				/*画像を左寄せにする*/
}
