.form {
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__title {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  &__note {
    font-weight: normal;
    margin-left: 5px;

    @include font-size(12);
  }

  &__require {
    margin-left: 10px;
    color: $color-primary;

    @include font-size(12);
  }

  &__radio {
    @include mq(md) {
      display: block;
    }
    &:not(:last-child) {
      margin-right: 35px;

      @include mq(md) {
        margin-right: 0;
        margin-bottom: 5px;
      }
    }
  }

  input[type="radio"] {
    margin-right: 5px;
    border: 1px solid #333;
    border-radius: 50%;
  }

  &__input,
  &__select {
    width: 300px;
    padding: 8px;
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #fff;

    @include mq(md) {
      width: 100%;
    }
  }

  input[type="tel"] {
    width: 200px;

    @include mq(md) {
      width: 100%;
    }
  }
  &__textarea {
    min-width: 600px;
    min-height: 200px;
    padding: 8px;
    resize: both;
    border: solid 1px #aaa;
    border-radius: 5px;
    background-color: #fff;

    @include mq(md) {
      width: 100%;
      min-width: 100%;
    }
  }

  &__btn {
    margin-top: 50px;
    text-align: center;
  }
}
