.message {
  margin-bottom: 30px;
  text-align: center;
  background-repeat: no-repeat, no-repeat;
  background-position: center center,center center;
  background-size: cover, cover;

  &__heading {
    font-weight: bold;
    line-height: 1;
    display: inline-block;
    margin-bottom: 40px;

    @include font-size(40);
    @include mq(md) {
      line-height: 1.5;

      @include font-size(32);
    }
  }
  &__underline {
    background: linear-gradient(transparent 70%, #f5f534 0%);
  }
}
