.post-pager {
  margin-bottom: 20px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid #b8aed5;
    border-bottom: 1px solid #b8aed5;
  }

  &__item {
    flex: 0 0 50%;
    margin: 15px 0;

    &:not(:last-child) {
      border-right: 1px solid #b8aed5;
    }
    &--prev {
      .post-pager__link {
        padding: 10px 20px 10px 40px;
        &::before {
          left: 10px;
          content: "\f0d9";
        }
      }
    }
    &--next {
      .post-pager__link {
        padding: 10px 40px 10px 20px;
        &::before {
          right: 10px;
          content: "\f0da";
        }
      }
    }
  }
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 20px;
    text-decoration: none;
    color: $color-primary;

    @include font-size(14);
    @include mq(md) {
      @include font-size(12);
    }
    &:hover {
      text-decoration: none;
      background-color: #f9f7ff;
    }
    &::before {
      position: absolute;
      top: 50%;
      font-family: "Font Awesome 5 Free";
      font-size: 1.4rem;
      font-weight: 900;
      display: block;
      transform: translateY(-50%);
      color: $color-primary;
    }
  }
  &__home {
    text-align: center;
    text-transform: uppercase;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  &__page {
    font-weight: bold;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #f1ebf8;

    @include font-size(20);
  }
  &__link {
    color: #fff;
    background-image: linear-gradient(135deg, #7633a4,#250d65);
    &:hover {
      text-decoration: none;
      opacity: .9;
    }
  }
}
