.greeting {
  padding: 100px 0 70px;
  background-image: url(/img/bg-circle.png), url(/img/bg-face.png);
  background-position: center -20px, center 40px;

  @include mq(md) {
    padding: 60px 0 60px;
    background-image: url(/img/sp_bg-circle.png);
    background-position: center -20px;
    background-size: 375px;
  }
  &__heading {
    margin-bottom: 30px;
    text-align: center;
  }
  &__message {
    margin-bottom: 160px;
    text-align: center;

    @include mq(md) {
      margin-bottom: 60px;
    }
  }
}

.company-info {
  &__heading {
    margin-bottom: 30px;
    text-align: center;
  }
  &__table {
    margin-bottom: 60px;
  }
}

.access {
  &__map {
    margin-bottom: 5px;
    iframe {
      height: 400px;
      vertical-align: bottom;

      @include mq(md) {
        height: 240px;
      }
    }
  }
  &__map-link {
    @include font-size(14);
  }
}
