/* ---------------------------- */
/* Base
/* ---------------------------- */
html{
 font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  letter-spacing: .05em;
  font-family: 'Noto Serif','Noto Serif JP', serif;
  color: #171717;
}
img{
  vertical-align: bottom;
  width: 100%;
}

/*sectionごとの余白設定*/
.section-wrapper{
  padding: 100px 0 70px;
}
/*section-titleの設定*/
.section-title{
  max-width: 1000px;
  color: #282f35;
  font-size: 6rem;
  font-style: italic;
  margin:0 auto 80px;
  padding: 0 20px;
}
.section-title::after{
 content: "";
 display: inline-block;
 background-color: #282f35;
 width: 200px;
 height: 5px;
 margin-left: 30px;
 vertical-align: middle;
}
.section-inner{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}
.section-bottom{
  max-width: 1200px;
  margin: 0 auto;
  font-size: 9rem;
  opacity: .05;
}
.section-bottom.text-white{
  opacity: .1;
}
.text-right{
  text-align: right;
}
.text-white{
  color: #fff;
}
.section-title.text-white::after{
  background-color: #fff;
}

.link-btn{
  display: block;
  width: 235px;
  line-height: 60px;
  margin: 0 auto 70px;
  background-color: #f7d43f;
  box-shadow: 0 0 6px #1b1310;
  border-radius: 30px;
  text-align: center;
  color: #171717;
  font-weight: bold;
  text-decoration: none;
  transition: .3s;
}
.link-btn:hover{
  opacity: .7;
  transition: .3s;
}
.sp-br{
  display: none;
}
/* ---------------------------- */
/* header
/* ---------------------------- */
.header{
  padding: 19px 30px;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  box-sizing: border-box;
  width: 100%;
  transition: 0.3s;
}
.header-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header.fixed{
  position: fixed;
  background-color: #282f35;
  padding: 30px;
  width: 100%;
  transition: 0.3s;
}
.header a{
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
  font-style: italic;
}
.header a:hover{
  opacity: 0.7;
  transition: 0.3s;
}
.site-title{
  font-size: 2.6rem;
}
.nav-list{
  display: flex;
}
.nav-item{
  margin-right: 30px;
}
.nav-item:last-of-type{
  margin-right: 0;
}
.burger-btn{
  display: none;
}

/* ---------------------------- */
/* fv
/* ---------------------------- */
.fv{
  height: 100vh;
  min-height: 550px;
  position: relative
}
.fv img{
  object-fit: cover;
  height: 100vh;
  min-height: 100%;
}
.main-copy{
  position: absolute;
  left: 120px;
  bottom: 177px;
  color: #fff;
}
.en-copy{
  font-size: 7rem;
  margin-bottom: 31px;
  font-weight: bold;
}
.jp-copy{
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}

.slick-arrow{
  display: none !important;
}
/* ---------------------------- */
/* concept
/* ---------------------------- */
.concept-lead{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 60px;
  font-weight: bold;
  line-height: 1.67;
}
.concept-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}
.concept-text{
  max-width: 440px;
  line-height: 1.87;
  font-weight: bold;
}
.concept-img-wrapper{
  width: 44%;
  margin-left: 20px;
}

/* ---------------------------- */
/* works
/* ---------------------------- */
.bg-works{
  background-image: url(../img/works-bgi@2x.jpg);
  background-size: cover;
  background-position: center;
}
.works-list{
  max-width: 1000px;
  margin: 0 auto 80px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
.works-item{
  width: 32%;
  background-color: #fff;
}
.works-item a{
  color: #141414;
  text-decoration: none;
}
.works-list-text{
  padding: 25px 20px;
}


/* ---------------------------- */
/* service
/* ---------------------------- */
.service-list{
  display: flex;
}
.service-item{
  width: 33.3%;
}
.service-item a{
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 320px;
  font-size: 4rem;
  font-weight: bold;
  font-style: italic;
  transition: .3s;
}
.service-item a:hover{
  background-color: rgba(40,47,53,.7);
  transition: .3s;
}
.service-item.service_1{
  background-image: url(../img/service-img01@2x.jpg);
}
.service-item.service_2{
  background-image: url(../img/service-img02@2x.jpg);
}
.service-item.service_3{
  background-image: url(../img/sevice-img03@2x.jpg);
}

/* ---------------------------- */
/* contact
/* ---------------------------- */
.bg-contact{
  background-image: url(../img/contact-bgi@2x.jpg);
}
.contact-text{
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 40px;
}

/* ---------------------------- */
/* footer
/* ---------------------------- */
.footer{
  padding: 30px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  color: #282F35;
}

@media screen and (max-width:768px){
  /* ---------------------------- */
  /* base_sp
  /* ---------------------------- */
  .section-wrapper{
    padding: 100px 0 40px;
  }
  .section-title{
    padding: 0 4vw;
    font-size: 3rem;
    margin-bottom: 50px;
  }
  .section-title::after{
    width: 90px;
  }
  .section-inner{
    padding: 0 4vw;
  }
  .section-bottom{
    font-size: 4rem;
    padding: 0 4vw;
  }

  .link-btn{
    margin-bottom: 40px;
  }

  .sp-br{
    display: block;
  }
  .pc-br{
    display: none;
  }

  /* ---------------------------- */
  /* header_sp
  /* ---------------------------- */
  .header{
    padding: 30px 4vw 0;
  }
  .header-nav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #282F35;
  }
  .nav-list{
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-item{
    margin: 0 0 30px;
  }
  .nav-item:last-of-type{
    margin-bottom: 0;
  }

  .burger-btn{
    display: block;
    position: absolute;
    top: 30px;
    right: 4vw;
  }
  .burger-btn .bar{
    display: block;
    height: 3px;
    width: 30px;
    background-color: #fff;
  }
  .bar_top{
    margin-bottom: 8px;
  }
  .bar_mid{
    margin-bottom: 8px;
  }

  /* ハンバーガーメニューが開いたとき */
  .burger-btn.cross .bar_top{
    transform: rotate(45deg) translate(8px,8px);
    transition: .3s;
  }
  .burger-btn.cross .bar_mid{
    opacity: 0;
    transition: .3s;
  }
  .burger-btn.cross .bar_bottom{
    transform: rotate(-45deg) translate(8px,-8px);
    transition: .3s;
  }
  body.noscroll{
    overflow: hidden;
  }

  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
  }
  /* ---------------------------- */
  /* fv_sp
  /* ---------------------------- */
  .main-copy{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    white-space: nowrap;
  }
  .en-copy{
    font-size: 9.8vw;
  }
  .jp-copy{
    font-size: 8vw;
  }

    /* ---------------------------- */
    /* concept_sp
    /* ---------------------------- */
    .concept-lead{
      font-size: 2rem;
      margin-bottom: 32px;
    }
    .concept-content{
      display: block;
      margin-bottom: 40px;
    }
    .concept-text{
      margin-bottom: 30px;
    }
    .concept-img-wrapper{
      width: 100%;
      margin: 0;
    }

    /* ---------------------------- */
    /* works_sp
    /* ---------------------------- */
    .works-list{
      display: block;
      padding: 0 4vw;
      margin-bottom: 80px;
    }
    .works-item{
      width: 320px;
      max-width: 100%;
      margin: 0 auto 30px;
    }

    /* ---------------------------- */
    /* service_sp
    /* ---------------------------- */
    .service-list{
      display: block;
      margin-bottom: 40px;
    }
    .service-item{
      width: 100%;
      margin-bottom: 30px;
    }
    .service-item a{
      line-height: 250px;
    }


















}
