.footer {
  padding: 60px 30px 20px;
  background-color: #120e19;
}

.footer-nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;

    @include mq(md) {
      justify-content: flex-start;
      margin-bottom: -10px;
    }
  }

  &__item {
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #e9e1d1;

    @include font-size(12);
    @include mq(md) {
      margin-bottom: 10px;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__link {
    line-height: 1;
    padding: 5px;
    color: #fff;

    &:hover {
      text-decoration: none;
      opacity: .8;
    }
  }
}

.copyright {
  margin-top: 30px;
  text-align: center;

  @include font-size(10);
  &__link {
    text-decoration: none;
    color: #a798b7;
    &:hover {
      text-decoration: none;
      opacity: .8;
    }
  }
}
