.l-inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  &--xs {
    max-width: 780px;
  }
  &--sm {
    max-width: 950px;
  }
  &--xl {
    max-width: 1300px;
  }
}

.l-section {
  padding: 70px 0;

  @include mq(md) {
    padding: 40px 0;
  }
}
